.stats_value{
    font-size: small;
    font-weight: 700;
    color: #0B8F23;
}

.stat_label{
    font-size: smaller;
    font-weight: 400;
}

.stats{
    position: relative;
    transform: translateY(-50%);
    background: white;
    z-index: 9;
    padding: 20px;
    box-shadow: 10px 10px 10px #2825230A;
}

@media (min-width: 200px) and (max-width: 767px){
    .stats{
        transform: translateY(0%);
    }
}