
.catchtext{
    font-weight: 700;
    font-size: 20px;
    text-align: start;
    color: #0B8F23;
}

.desc_text{
    font-weight: 400;
    font-size: 14px;
    text-align: start;
    line-height: 32px;
}

.gradientText {
    background: linear-gradient(180deg, #0B8F23, #03290A); /* 90-degree gradient with two colors */
    -webkit-background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; /* Make the text transparent to show the gradient */
    font-weight: bolder; /* Optional: Add bold font weight */
  }