.heading{
    background: linear-gradient(0.25turn, #0B8F23, #03290A);;
    --webkit-background-clip: text;
    --webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
}

.serviceBlock {
    width: 300px; /* Adjust size as needed */
    position: relative;
    margin-top: 20px;
    cursor: pointer;
}

.imageBontainer {
    position: relative;
    width: 100%;
    height: fit-content; /* Adjust height as needed */
    overflow: hidden;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%; /* Cover from bottom to middle */
    background: linear-gradient(to top, #03290AFF, #0B8F231A); /* Green gradient fading to transparent */
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 5%;
}

.overlayText {
    color: white;
    font-size: 1em; /* Adjust text size as needed */
    margin-bottom: 10px; /* Adjust space from bottom as needed */
    text-align: start;
    font-weight: 999;
}

.desc{
    color: white;
    font-size: 0.7em;
    text-align: start;
    font-weight: 200;
}